body {
  background-color: lightblue;
}

#landing-intro {
  border: 1px solid black;
  padding: 5px;
  width: 50%;
  background-color: #F0EAD6;
}


h1 {
  color: blue;
}

h2 {
  color: blue;
}

#table-of-contents{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  background-color: white;
  list-style-position: inside;
  width: fit-content;
}

#table-of-contents li{
  margin-bottom: 8px;
}

.section {
  margin: 25px;
  padding: 12px 10px;
  border-radius: 8px;
  border: 2px solid blue;
}

.section.even {
  background-color: lightyellow;
}

.section.odd {
  background-color: lightgreen;
}

strong {
  color: blue;
}
